h1 {
	font-size:50px;
}


.clearfix:after {

	content: ".";

	display: block;

	clear: both;

	visibility: hidden;

	line-height: 0;

	height: 0;

}

 

.clearfix {

	display: inline-block;

}

 

html[xmlns] .clearfix {

	display: block;

}

 

* html .clearfix {

	height: 1%;

}



img {
	display: block;
}


#header_inside {
	width: 30%;
	position: relative;
	margin: 0 auto;
}


#object10 {
	display: inline;
}


.class1 {
	display: inline;
}

#object1 {
	line-height: 24px;
	left:0px;
}


#object2 {
	position:absolute;
	right:0px;
}



#object4 {
	text-align: center;
}


#object5 {
	text-align: center;
}


#image {
	margin: 100px auto;
}


/*Left*/

#left {
	margin-bottom: 50px; 
	position:absolute;
	left:50px;
	top:800px;
	width: 350px;
	text-align: center;
}

#left_title  {
	border-bottom: 1px solid #999999;
	padding: 10px;
}

/*Center*/

#center {
	margin-bottom: 50px; 
	position:absolute;
	left:450px;
	top:800px;
	width: 350px;
	text-align: center;
}
#center_title {
	border-bottom: 1px solid #999999;
	padding: 10px;
}


/*Right*/

#right {
	margin-bottom: 50px; 
	position:absolute;
	left:900px;
	top:800px;
	width: 350px;
	text-align: center;
}
#right_title {
	border-bottom: 1px solid #999999;
	padding: 10px;
}