body {
	background: url('bg.jpg');
	background-size: 100%;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	letter-spacing: 0px;
	text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}


#top_section {
	margin: 20px 20px;
}

#apps {
	display: inline;
	font-size: 20px;
}

#top_section_right {
	margin-top: 15px;
	float: right;
	text-align: center;
}

#temperture {
	display: inline;
	line-height: 5px;
	letter-spacing: -1px;
	font-size: 42px;
}


#city_name {
	font-size: 80%;
	position: relative;
	top: -7px;
}

#main_section {
	text-align: center;
	position: relative;
	top: 70px;
}

#clock {
	
}

#txt {
	font-size: 170px;
	font-weight: lighter;	
	letter-spacing: -6px;
	position: relative;
	top: 10px;
	left: 48px;
}

#greeting {
	position: relative;
	top: 20px;
	margin-top: 14px;
	font-size: 54px;
}

#question {
	position: relative;
	top: -30px;
	margin-top: 30px;
	font-size: 30px;

	
}

#input {
	position: relative;
	top: -51px;
	width: 17em;
	border-bottom-width: 2px;
	font-weight: bold;
	line-height: 1.2em;
	background: 0;
	border: 0;
	width: 300px;
	border-bottom: 3px solid #fff;
	outline: none;
	color: #fff;
	text-align: center;
	font-size: 35px;
}

#statement {
	position: relative;
	bottom: 45px;
	margin-bottom: 10px;
	font-size: 20px;
	
}
